<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ADVANCE_JAVA7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    
    <servlet-name>H</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethod</display-name>
    <servlet-name>LifeCycleMethod</servlet-name>
    <servlet-class>com.controller.LifeCycleMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethod</servlet-name>
    <url-pattern>/lifecyclemethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserThread</display-name>
    <servlet-name>UserThread</servlet-name>
    <servlet-class>com.controller.UserThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserThread</servlet-name>
    <url-pattern>/userthread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHTML</display-name>
    <servlet-name>DemoHTML</servlet-name>
    <servlet-class>com.controller.DemoHTML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHTML</servlet-name>
    <url-pattern>/demohtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/productcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>com.controller.Backup</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>D:\\skype-files</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session1</display-name>
    <servlet-name>Session1</servlet-name>
    <servlet-class>com.controller.session.Session1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session2</display-name>
    <servlet-name>Session2</servlet-name>
    <servlet-class>com.controller.session.Session2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session3</display-name>
    <servlet-name>Session3</servlet-name>
    <servlet-class>com.controller.session.Session3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session3</servlet-name>
    <url-pattern>/session3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session4</display-name>
    <servlet-name>Session4</servlet-name>
    <servlet-class>com.controller.session.Session4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session4</servlet-name>
    <url-pattern>/session4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session5</display-name>
    <servlet-name>Session5</servlet-name>
    <servlet-class>com.controller.session.Session5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session5</servlet-name>
    <url-pattern>/session5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletToJSP</display-name>
    <servlet-name>ServletToJSP</servlet-name>
    <servlet-class>com.controller.ServletToJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToJSP</servlet-name>
    <url-pattern>/servlettojsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormController</display-name>
    <servlet-name>FormController</servlet-name>
    <servlet-class>com.controller.FormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormController</servlet-name>
    <url-pattern>/formcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationController</display-name>
    <servlet-name>UserRegistrationController</servlet-name>
    <servlet-class>com.controller.UserRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationController</servlet-name>
    <url-pattern>/userregistrationcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/bookcontroller</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.controller.SessionListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.controller.SessionAttr</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetDataFromSession</display-name>
    <servlet-name>GetDataFromSession</servlet-name>
    <servlet-class>com.controller.GetDataFromSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataFromSession</servlet-name>
    <url-pattern>/GetDataFromSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieSetDemo1</display-name>
    <servlet-name>CookieSetDemo1</servlet-name>
    <servlet-class>com.controller.cookies.CookieSetDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSetDemo1</servlet-name>
    <url-pattern>/CookieSetDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieGetServletDemo</display-name>
    <servlet-name>CookieGetServletDemo</servlet-name>
    <servlet-class>com.controller.cookies.CookieGetServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieGetServletDemo</servlet-name>
    <url-pattern>/CookieGetServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>